ul {list-style-type: none;}
body {margin-top: 5%; font-family: 'Open Sans', sans-serif;}

/* Month header */
.month {
    padding: 10px 0px;
    width: 1200px;
    margin: auto;
    border-bottom: white 1px solid;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: none;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    width: 1200px;
    margin: auto;
    padding: 10px 0;
    border-bottom: white 1px solid;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: whitesmoke;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    width: 1200px;
    margin: auto;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 14%;
    font-size:15px;
    color:#777;
    height: 125px;
    vertical-align: top;
}

.blank, .date{
    border: transparent 1px solid;
}
/* Highlight the "current" day */
.active {    
    background: transparent;
    border: lightgreen 1px solid;
}

.event {    
    background: transparent;
    border: white 1px solid;
}

.event .list{
    color: white !important;
}

.event p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li a{
    color: whitesmoke;
    text-decoration: none;
}

li.active a{
    color: white !important;
    text-decoration: none;
}

li.event h4{
    color: white;
    margin: 4px;    
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    border: white 1px solid;
    border-radius: 30px;
}

.weekdays li{
    width: 11.75%;
    padding:0px 1%;    
}

h4 .popuptext {
    position: absolute;
    visibility: hidden;
    width: 350px;
    height: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    margin-left: -170px;
    font-size: 14px;
}
a.panel{
    color: white;
    font-size: 18px
}

h4 .show {
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

#loginform
{
    position: absolute;
    visibility: hidden;
    z-index: 1;
    margin-left: -10px;
    font-size: 14px;
}

#loginform #login, #password 
{
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}

#loginform #close_login
{
     position: absolute;
    top: 15.5%;
    right: 14%;
    font-size: 20px;
    font-family: inherit;
    background: white;
    border: black 1px solid;
    color: black;
    /* float: right; */
    padding: 0 10px 1px;
}

#regisform
{
    position: absolute;
    visibility: hidden;
    z-index: 1;
    margin-left: -10px;
    font-size: 14px;
}

#regisform #close_regis
{
    position: absolute;
    top: 15.5%;
    right: 14%;
    font-size: 20px;
    font-family: inherit;
    background: white;
    border: black 1px solid;
    color: black;
    /* float: right; */
    padding: 0 10px 1px;
}

#regisform #login, #password 
{
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}


#addform
{
    position: absolute;
    visibility: hidden;
    z-index: 1;
    margin-left: -10px;
    font-size: 14px;
}

#addform #close_add
{
     position: absolute;
    top: 15.5%;
    right: 14%;
    font-size: 20px;
    font-family: inherit;
    background: white;
    border: black 1px solid;
    color: black;
    padding: 0 10px 1px;
}

#addform #title, #date, #description 
{
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}

.editform
{
    position: absolute;
    visibility: hidden;
    width: 350px;
    height: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 5;
    margin-left: -170px;
    font-size: 14px;
}

#editform #edit_add
{
     position:absolute;
}

#editform #title, #date, #description 
{
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}
