
body{
    background: url(background.jpg);
    font-family: 'Open Sans', sans-serif;
}

         #from{    
            width: 400px;
            height: 260px;
            padding: 30px;
            top: 50%;
            left: 50%;
            margin: 50px;
            background-color: white;
         }
        #from h2{    
            color: black;
            font-size: 18px;
            font-weight: lighter;
            padding: 20px;
            margin: -30px -30px 30px -30px;
            border-bottom: black 1px solid;
        }

         textarea,input[type="text"],input[type="password"],input[type="date"],input[type="password"]{
            box-sizing: border-box;
            outline: none;
            display: block;
            width: 100%;
            padding: 7px;
            border: none;
            border-bottom: 1px solid #ddd;
            background: transparent;
            margin-bottom: 10px;
            height: 45px;
            color: black;
         }

         #from > input[type="submit"]{
             background: #ffffff;
            border: black 1px solid;
            color: #000000;
            font-size: 20px;
            margin: 0;
            margin-top: 10px;
            padding: 0 10px 1px;
            font-family: inherit;
            float: right;
         }

         #from > input.fill-require{
            border-color:red;
         }

         #from > #reset{
            text-decoration: none;
            color:black;
            font-size: 18px;
         }

         #from > #reset:hover{
            color:#008ec2;
         }      